<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma PWA Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#007bff">
</head>
<body>
    <header>
        <h1>Ma PWA Flask</h1>
    </header>

    <main>
        {% if not user %}
        <div class="auth-container">
            <div class="auth-box">
                <h2>Connexion</h2>
                <form action="/login" method="POST">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Mot de passe" required>
                    <button type="submit" class="button">Se connecter</button>
                </form>
            </div>
            <div class="auth-box">
                <h2>Inscription</h2>
                <form action="/add_user" method="POST">
                    <input type="text" name="name" placeholder="Nom" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="number" name="age" placeholder="Âge" required min="1" max="120">
                    <input type="password" name="password" placeholder="Mot de passe" required>
                    <button type="submit" class="button">S'inscrire</button>
                </form>
            </div>
        </div>
        {% else %}
        <div class="menu-container">
            <button id="menuToggle" class="menu-toggle">&#8942;</button>
            <nav id="menu" class="menu">
                <ul>
                    <li><a href="/logout">Déconnexion</a></li>
                    <li><a href="/favorites">Liste de Favoris</a></li>
                    <li><a href="/account_info">Informations sur le Compte</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <h2>Bienvenue, {{ user.name }}!</h2>
            <p>Email: {{ user.email }}</p>
            <p>Âge: {{ user.age }}</p>
            <!-- Contenu principal ici -->
        </div>
        {% endif %}
    </main>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}");
        }

        document.getElementById('menuToggle').addEventListener('click', function() {
            document.getElementById('menu').classList.toggle('show');
        });
    </script>
</body>
</html>